<% if user_signed_in? && @book.user_id != current_user.id %> 
<% if current_user.reads.exists?(book: @book) %>
  <% if read = current_user.reads.find_by(book: @book) %>
        <p class="books-read" id="read-btn-<%= @book.id %>">この本を読みました！</p>
  <% end %>
<% else %>
  <%= link_to "読んだ？", book_reads_path(@book), 
      data: { turbo_method: :post, toggle_state: "unread", url: book_reads_path(@book) }, 
      class: "toggle-button book_reads", id: "toggle-btn-#{@book.id}" %>
  <% end %>
<% end %>