
/* ヘッダー */

header{
  background-color: #73705F;
  height: 65px;
  width: 100vw;
}

.main-header{
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 20px;
  align-items: center;
}

.title{
  font-size: 23px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
  font-weight: 100;
  text-decoration: none;
}

.hed_lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

/* ページ */

.main{
  background-color: #E6E5E3;
  height: calc(100vh - 65px);
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* トップページ */

.inner{
  background-color: #FFFFFF;
  margin-top:  80px ;
  padding: 10px 50px ;
  height: 300px;
  width: 80%;
  border-radius: 0px 0px 100px 0px;  
  box-shadow: 2px 2px 4px gray;
}

.inner_content{
  display: flex;
  justify-content: space-around;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: #73705F;
  font-size: 24px;
  margin: 50px 0 10px 50px;
}

.greeting{
  padding-top: 10px;
  text-align: center;
}

ul li{
  color: #423B35;
  list-style: none;
  margin: 5px 5px;
  padding-bottom: 10px;
}

.sign-up, .login {
  text-decoration: none;
  color: #F2F2F3;
}

.inner_left{

}

.login_button{
  background-color: #73705F;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px 10px;
}